{block content}
<h1>Kontakt</h1>
<ul>
<li>Pokud se Vám hra líbí, napište mi do formuláře níže nebo lajkujte</li>
<li>Pokud máte návrhy na zlepšení, konstruktivní kritiku, napište mi do formuláře níže</li>
<li>Pokud si chcete zanadávat, nikam nepište</li>
</ul>

{control contactForm}
<style>
form table {
  text-align: left;
  align: center;
  margin: 0 auto;
}
</style>