{block content}
<p id="motto">{!=$motto}</p>
<p>{=$username}</p>
  <h2><a n:href="Game:play" title="Automatický výběr hry">Hraj</a></h2>
  <h2><a n:href="Game:join" title="Přehled her, ke kterým se můžeš přidat">Přidej se</a></h2>
  <h2><a n:href="Game:my" title="Historie tvých her">Moje hry</a></h2>
  <h2><a n:href="Game:list" title="Pořadí hráčů">Žebříček</a></h2>
  <h2><a n:href="Game:rules" title="Jak na to">Pravidla</a></h2>
  <h2><a n:href="Game:contact" title="Napiš mi">Kontakt</a></h2>
